<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <%= link_to "Sign in with Yahoo", user_yahoo_auth_omniauth_authorize_path %>

    <%# Devise prior 4.1.0: %>
    <%= link_to "Sign in with Yahoo", user_omniauth_authorize_path(:yahoo_auth) %>
  </body>
</html>
